.app {
  border: 1px solid red;
  width: 95%;
  height: 98%;
  overflow-y: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* MAIN COMPONENTS */
.home,
.projects,
.about,
.contact {
  height: 700px;
  border: 1px solid blue;
}